default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
